<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex10</title>
</head>
<body>
    <h2>Exercise 10: ORM - Many to Many</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit"/>
    </form>
    {% if data %}
        <table>
            <tr>
                <th>title</th>
                <th>character</th>
                <th>gender</th>
                <th>home world</th>
                <th>diameter</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.title}}</td>
                <td>{{d.name}}</td>
                <td>{{d.gender}}</td>
                <td>{{d.homeworld}}</td>
                <td>{{d.diameter}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nothing corresponding to your research</p>
    {% endif %}
</body>
</html>