<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex02</title>
</head>
<body>
    {% if movies %}
    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release date</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.producer }}</td>
            <td>{{ movie.release_date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No data available</p>
    {% endif %}
</body>
</html>