<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exercise 03: Fifty shades of bic</title>
	<style>
		table {
			margin-left: auto;
			margin-right: auto;
		}
		td, th {
			width: 80px;
			height: 40px;
			text-align: center;
		}
		td.color {
			color: white;
		}
		h1 {
			text-align: center;
		}
		.div-center {
			width: 100
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Exercise 03: Fifty shades of bic</h1>
	<table>
		<tr>
			<th>No.</th>
			<th>Red</th>
			<th>Green</th>
			<th>Blue</th>
			<th>Black</th>
		</tr>
		{% for item in colors %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td style="background-color: {{item.red}};" class="color">{{item.red}}</td>
			<td style="background-color: {{item.green}};" class="color">{{item.green}}</td>
			<td style="background-color: {{item.blue}};" class="color">{{item.blue}}</td>
			<td style="background-color: {{item.black}};" class="color">{{item.black}}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>